body {
  display: block;
   font-family: Arial, Helvetica, sans-serif;
      background: #ebebeb;
      
}
/* imagen en card como fondo */
.fakeimg {
  background-color: #aaa;
  width: 80%;
  padding: 20px;
  height:400px;
  background-image:url("../Imagenes/rutspod.jpg");
margin-left: 100px;
position: relative;
}
/* efecto en card */
.card {
  margin:80px;
  padding:20px;
  margin-top: 1px;
  border-style: solid;
 background: #ebebeb;
}

.row:after {
  display: table;
  clear: both;
  border-style: ridge;
  border-style: solid;
  border-radius: 2px;
}
/*justificar texto*/
p{
  justify-content:20px; 
  font-size: 20px;
  width:center;
}

section{ 
width:auto; 
margin: auto;
background-color:rgb(0, 191, 255);
border-style: ridge;
background-color: solid;
shape-margin: 8px;
column-span: 8px;
}
/* barra */
footer{
background-color:rgb(0, 191, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

h2{
  font-size: 18px;
  line-height: 18px;
}
h5{
  font-size: 18px;
  line-height: 18px;
}
.leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 20;
  }
}

@media screen and (max-width: 800px) {
.topnav a {
    float: none;
    width: 100%;
  }
}
