body {
box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
   background-position: center center;   
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box; 
background-image: url("../Imagenes/registro.jpg")
}
/*efecto en en fondo del div*/
div {
  width: center;
  margin: center;
  font-size: 16px;
 background: #ebebeb;
  padding: 2px;
}
/* tamaño de letra */
 p {
  padding: 12px;
}
footer{
background-color:rgb(0, 191, 255);
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}

input {
  box-sizing: border-box;

  width: 100%;
  border-width: 1px;
  border-style: solid;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

input[type="email"],
input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

/* efecto de texto */
 input[type="email"]:focus,
 input[type="password"]:focus {
  border-color: #888;
}

 input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}
 input[type="submit"]:hover {
  background: #17c;
  background-color:rgb(0, 191, 255);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

/* efecto de boton */
 input[type="submit"]:focus {
  border-color: #05a;
    border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
button{
  background-color:rgb(0, 191, 255);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}
label,h2,p{
  color:black;
}

