body {
  background-image: url("../Imagenes/tour.png");
  background-position: center center;   
  background-attachment: fixed;
  background-size: cover;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
/*justificar texto*/
p{
  justify-content:10px; 
  font-size: 18px;
  width:center;
}
/*efecto en el input*/
input{
 background-color:rgb(235, 245, 251 );
  padding: 2px;
  border-radius: 4px;
  border-color: black;
  margin-left: 100px;
  text-decoration-color: black;
  font-size: 16px;
}
section{
padding: 2px;
text-align: left; 
margin-top: 200px;
}
/*efecto en el fondo del container*/
.container{
 background: #ebebeb;
  width: 80px;
  margin:8px;
  border-style: center;
}
/*efecto en card*/
.card {
background: #ebebeb;
padding: 20px;
border-radius:8px
border-style: 2px;
margin: 8px;
}
/* color barra*/
footer{
background-color:rgb(0, 191, 255);
     border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
}
p{
   justify-content:20px; 
  margin: center;
}
.button{
  background-color:rgb(0, 191, 255);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  }
